{% extends "central/base.html" %}

{% block title %}Registrar Nuevo Estudiante{% endblock %}

{% block content %}

{% with messages = get_flashed_messages()%}
    <h2 class="titulo-estudiantes">Registrar Nuevo Estudiante</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('estudiantes.nuevo_estudiante') }}" class="form-estudiante">
    <div class="form-row">
        <div class="form-col">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required autocomplete="given-name" maxlength="100">
        </div>
        <div class="form-col">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required autocomplete="family-name" maxlength="100">
        </div>
    </div>
    <div class="form-row">
        <div class="form-col">
            <label for="cedula">Cédula</label>
            <input type="number" id="cedula" name="cedula" placeholder="Cédula" required minlength="8" maxlength="20">
        </div>
        <div class="form-col">
            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono" name="telefono" placeholder="Número de Teléfono" required maxlength="20">
        </div>
    </div>
    <div class="form-row correo-row">
        <label for="correo">Correo Electrónico</label>
        <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" required autocomplete="email" maxlength="100">
    </div>
    <div class="form-row">
        <div class="form-col">
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Usuario" required maxlength="50">
        </div>
        <div class="form-col">
            <label for="carrera">Carrera</label>
            <select id="carrera" name="carrera" required>
                <option value="" disabled selected>Seleccione una Carrera</option>
                <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
                <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                <option value="Ingeniería Civil">Ingeniería Civil</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn-form-estudiante">Registrar Estudiante</button>
</form>
{% endblock %}