{% extends "central/base.html" %}

{% block title %}Registrar Depósito{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    <h2 class="titulo-estudiantes">Registrar Depósito para materia</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="form-estudiante">
    <div class="form-row">
        <div class="form-col">
            <label>Programa a cancelar:</label>
            <label style="display:block; background:#e0e0e0; color:#2c3e50; border-radius:4px; padding:7px 10px;">
                {{ inscripcion.corte.programa.nombre }}
            </label>
        </div>
        <div class="form-col">
            <label>Monto actual a pagar:</label>
            <label style="display:block; background:#e0e0e0; color:#2c3e50; border-radius:4px; padding:7px 10px;">
                {{ inscripcion.monto_a_pagar }}
            </label>
        </div>
    </div>
    <form method="POST">
        <div class="form-row">
            <div class="form-col">
                <label for="recibo">Número de Recibo</label>
                <input type="text" id="recibo" name="recibo" placeholder="Número de Recibo" required>
            </div>
            <div class="form-col">
                <label for="vauche">Voucher</label>
                <input type="text" id="vauche" name="vauche" placeholder="Voucher" required>
            </div>
        </div>
        <input type="hidden" name="monto" value="50">
        <div class="form-row" style="gap: 10px;">
            <button type="submit" class="btn-form-estudiante btn-accion" style="width: 50%; margin-right: 5px; font-size: 0.95em; padding: 6px 0;">Registrar Depósito</button>
            <a href="{{ url_for('estudiantes.index') }}" class="btn-form-estudiante btn-accion" style="width: 50%; background:#888; text-align:center; margin-left: 5px; font-size: 0.95em; padding: 6px 0;">Cancelar</a>
        </div>
    </form>
</div>

<hr>

{% endblock %}